.relative.z-10.py-24
  .mx-auto.max-w-2xl.text-center.mt-24
    %h2.mt-2.text-4xl.font-bold.tracking-tight.text-gray-900.sm:text-6xl#info Wedding Info
    .grid-cols-1.lg:grid-cols-2.grid.mt-16.bg-white.rounded-xl.p-8
      .flex.flex-col 
        .text-3xl.flex.justify-center
          Ceremony
        .mt-4.text-xl.font-bold
          12.30pm
        .mt-4.text-xl.font-medium 
          St Michael & All Angels Church
        .mt-2.text-xl.font-medium 
          Throwley, ME13 0PF
      .flex.flex-col.mt-8.xl:mt-0 
        .text-3xl.flex.justify-center
          Reception
        .mt-4.text-xl.font-bold
          Until midnight
        .mt-4.text-xl.font-medium 
          Bells Forstal Farmhouse 
        .mt-2.text-xl.font-medium 
          Throwley, ME13 0JS
.grid.grid-cols-1.sm:grid-cols-2.gap-x-8 
  = image_tag('invite.jpg', class: 'rounded-2xl')
  = image_tag('map.jpg', class: 'rounded-2xl')


          