.relative.z-10.mt-32.pb-20.sm:mt-56.sm:pb-24.xl:pb-0
  .flex.justify-center
    = image_tag('images/photobooth_landscape_low_res.jpg', class: 'w-2/3 rounded-lg')
  .mx-auto.max-w-2xl.text-center.mt-24
    %h2.mt-2.text-4xl.font-bold.tracking-tight.text-gray-900.sm:text-6xl Wedding Info
    .grid-cols-1.lg:grid-cols-2.grid.mt-16
      .flex.flex-col 
        .text-2xl.flex.justify-center
          Ceremony
        .mt-4.text-lg.font-bold
          12.30pm
        .mt-4.text-lg.font-medium 
          St Michael & All Angels Church
        .mt-2.text-lg.font-medium 
          Throwley, ME13 0PF
      .flex.flex-col.mt-8.lg:mt-0 
        .text-2xl.flex.justify-center
          Reception
        .mt-4.text-lg.font-bold
          Until midnight
        .mt-4.text-lg.font-medium 
          Bells Forstal Farmhouse 
        .mt-2.text-lg.font-medium 
          Throwley, ME13 0JS


          