%header.absolute.inset-x-0.top-0.z-50
  %nav.mx-auto.flex.items-center.justify-between.lg:justify-end.p-6.lg:px-8{"aria-label" => "Global"}
    .flex.lg:flex-1
      %a{:class => "-m-1.5 p-1.5", :href => "#"}
        = image_tag('dachshund_icon.png', class: "w-12")
    .flex.lg:gap-x-12.gap-x-8
      %a.text-xl.lg:text-lg.font-semibold.leading-6.text-gray-900{:href => "#"} Home
      %a.text-xl.lg:.text-lg.font-semibold.leading-6.text-gray-900{:href => "#"} Info
      %a.text-xl.lg:.text-lg.font-semibold.leading-6.text-gray-900{:href => "#"} RSVP
      %a.text-xl.lg:.text-lg.font-semibold.leading-6.text-gray-900{:href => "#"} FAQs
