
.mx-auto.max-w-7xl.px-6.py-16.sm:py-24.lg:px-8
  .mx-auto.max-w-2xl.text-center
    %h2.text-2xl.font-bold.leading-10.tracking-tight.text-gray-900 Q & A
    %p.mt-6.text-base.leading-7.text-gray-600
      Have a different question and can’t find the answer you’re looking for? Reach out to our support team by
      %a.font-semibold.text-indigo-600.hover:text-indigo-500{:href => "#"} sending us an email
      and we’ll get back to you as soon as we can.
  .mt-20
    %dl.space-y-16.sm:grid.sm:grid-cols-2.sm:gap-x-6.sm:gap-y-16.sm:space-y-0.lg:grid-cols-3.lg:gap-x-10
      %div
        %dt.text-base.font-semibold.leading-7.text-gray-900 What's the best thing about Switzerland?
        %dd.mt-2.text-base.leading-7.text-gray-600 I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
