
.mx-auto.max-w-7xl.px-6.py-16.sm:py-24.lg:px-8
  .mx-auto.max-w-2xl.text-center
    %h2.text-3xl.font-bold.leading-10.tracking-tight.text-gray-900 Q & A
    %p.mt-6.text-base.leading-7.text-gray-600
      Feel free to ask us any questions
      %a.font-semibold.text-indigo-600.hover:text-indigo-500{:href => "#"} agnesandmort@gmail.com
      and we’ll get back to you as soon as we can.
  .mt-20
    %dl.space-y-16.sm:grid.sm:grid-cols-2.sm:gap-x-6.sm:gap-y-16.sm:space-y-0.lg:grid-cols-3.lg:gap-x-10
      %div
        %dt.text-base.font-semibold.leading-7.text-gray-900 When do I need to RSVP by?
        %dd.mt-2.text-base.leading-7.text-gray-600 Please RSVP using the form above by the 25th May at the latest.
      %div
        %dt.text-base.font-semibold.leading-7.text-gray-900 How should I get to the ceremony?
        %dd.mt-2.text-base.leading-7.text-gray-600 There is parking available at the church for anyone that is driving. Otherwise there should be taxis available from Faversham train station, but we recommend booking in advance.
      %div
        %dt.text-base.font-semibold.leading-7.text-gray-900 Is the wedding indoors or outdoors?
        %dd.mt-2.text-base.leading-7.text-gray-600 The ceremony is inside a church, but our reception will be in the garden.
      %div
        %dt.text-base.font-semibold.leading-7.text-gray-900 What about gifts?
        %dd.mt-2.text-base.leading-7.text-gray-600 Just gimme da fuckin moniez boi.
      %div
        %dt.text-base.font-semibold.leading-7.text-gray-900 What about gifts?
        %dd.mt-2.text-base.leading-7.text-gray-600 Just gimme da fuckin moniez boi.
      %div
        %dt.text-base.font-semibold.leading-7.text-gray-900 What about gifts?
        %dd.mt-2.text-base.leading-7.text-gray-600 Just gimme da fuckin moniez boi.